* {
    font-family: 'Rubik', 'sans-serif';
}

.main-page {
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.733); */
}

#conversation {
    display: inline-block;
    width: 55%;
    height: 500px;
    background-color: #232323;
    border-radius: 9px;
    border-right: rgb(54, 54, 54) 4px solid;
    border-left:rgb(54,54,54) 4px solid;
    overflow: auto;
}

#end-of-conversation {
    position: relative;
    width: 100%;
}

.input-container {
    width: 100%;
}

.message-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

