.main-page {
    overflow: hidden;
}



.conversation-container {
    /* background-color: white; */
    height: 87vh;
    overflow: auto;
    padding:0 1em 0 1em;
    margin-top: 1em;

}

.end-of-conversation {
    position: relative;
}

.mainpagewave {
    position: fixed;
    bottom: -2vh;
    height: auto;
    z-index:-5;
    width: 100%;
}

.input-container{
    width: fit-content;
    margin: 0 auto;

}
@media only screen and (min-width:600px){
    .conversation-container {
        /* background-color: white; */
        border-left: 1px solid #f53053;
        border-right: 1px solid #f53053;
        margin: 0 auto;
        height: 80vh;
        width: 60%;
        overflow: auto;
        padding:0 1em 0 1em;
        margin-top: 1em;
    
    }
    /* .main-page{
        margin:0 auto;
        width: 50%;
    } */

    .mainpagewave {
        
        position: fixed;
        margin:0 auto;
        left: 0;
        bottom: -8vh;
        z-index:-5;
        width: 100%;
    }
}
@media only screen and (min-width:1300px){
    .input-container{
        width:0%;
    }
    .conversation-container {
        /* background-color: white; */
        margin: 0 auto;
        height: 80vh;
        width: 60%;
        overflow: auto;
        padding:0 1em 0 1em;
        margin-top: 1em;
    
    }
    /* .main-page{
        margin:0 auto;
        width: 50%;
    } */

    .mainpagewave {
        
        position: fixed;
        margin:0 auto;
        left: 0;
        bottom: -12vh;
        z-index:-5;
        width: 100%;
    }
}
::-webkit-scrollbar {
    width:7px;
    height: 5px;
    background:#68163333;
}
::-webkit-scrollbar:hover {
    width:10px;
    background: #f5005633;
}


::-webkit-scrollbar-thumb {
    background-color:#68163385;
    -webkit-transition: background-color .3 ease;
    transition: background-color .3 ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#ff0059;
    /* -webkit-transition: background-color .3 ease;
    transition: background-color .3 ease; */
}
