* {
    font-family: 'Rubik', 'sans-serif';
}

.main-page {
    text-align: center;
}

#conversation {
    display: inline-block;
    width: 75%;
    height: 500px;
    background-color: #edf7ff;
    border: 1px solid #8cccff;
    border-radius: 10px;
    overflow: auto;
}

#end-of-conversation {
    position: relative;
    width: 100%;
}

.input-container {
    margin-top: -2px;
    width: 100%;
}

.message-container {
    position: relative;
    display: inline-block;
    width: 100%;
}