.message-wrapper {
    width: 100%;
}

.message {
    height: auto;
    width: 60%;
    margin: 15px 10px 0 10px;
    padding: 10px;
    border: 1px solid #1c9aff;
    background-color: white;
    color: black;
    border-radius: 10px;
    float: left;
}

.message.own {
    float: right;
    background-color: #1c9aff;
    color: white;
}